<html>
<head>
<title>Zapomniano hasła</title>
</head>
<style>
p {
	text-align: center;
}
#er {
	background-color: red;
}
</style>
<body>
	<div>
		<form action="{{ url_for('forgot') }}" method="post">
			<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
			<p>Proszę wprowadzić poniżej nazwę użytkownika</p>
			<p>
				<input type="text" maxlength="10" placeholder="Nazwa użytkownika"
					name="username"><input type="submit" value="Wyślij">
			</p>
		</form>
		{% if error %}
		<p id=er>{{error}}</p>
		{% endif %}
		<p>
			<a href="{{ url_for('home') }}">Powrót do strony domowej</a>
		</p>
	</div>
</body>
</html>
