<html>
<head>
<title>foRtReSS - Forgotten Password</title>
</head>
<style>
body {
	background-color: #404040;
}
p {
	text-align: center;
}
#page {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	border: 2px solid #606060;
	background-color: #ffffff;
}
#er {
	background-color: #faf8b3;
}
</style>
<body>
	<div id="page">
		<form action="{{ url_for('forgot') }}" method="post">
			<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
			<p>Please type your username below</p>
			<p>
				<input type="text" maxlength="10" placeholder="Username"
					name="username"><input type="submit" value="Send">
			</p>
		</form>
		{% if error %}
		<p id=er>{{error}}</p>
		{% endif %}
		<p>
			<a href="{{ url_for('home') }}">Back to Home Page</a>
		</p>
	</div>
</body>
</html>
