{% extends "home.html" %} {% block body %}
<title>Strona główna</title>
<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='styles/forts.css') }}">
{% if loginfo %}<div id="loginfo">{{ loginfo }}</div>{% endif %}
<div id="page">
	{% if session.logged_in %}
	<div id="addfort">
		<form action="{{ url_for('addfort') }}" method="post">
			<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
			<p>
				<textarea id="fort" maxlength="150" name="text"
					placeholder="Miejsce na Twoją notatkę"></textarea>
			</p>
			<p>
				<input type="submit" value="Wyślij">
			</p>
		</form>
	</div>
	<script type=text/javascript
	src="{{ url_for('static', filename='scripts/submit.js') }}"></script>
	{% endif %}
	<ul id="fortlist">
		{% for entry in entries %}
		<li><div id="fortitem">
				<div id="login"><a href="{{ url_for('view',author=entry.author) }}">{{ entry.author }}</a></div>
				<div id="content">{{ entry.text }}</div>
			</div></li> {% else %} {% if not session.logged_in %}
		{% endif %} {% endfor %}
	</ul>
</div>

{% endblock %}
