<html>

<head>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}"></script>
</head>

<body>

<div id="topbar">

	<p>
		<a href="{{ url_for('home') }}">Strona główna</a>
	</p>
	<ul id="menu">
		{% if not session.logged_in %}
		<li><a href="{{ url_for('signup') }}">Zarejestruj</a></li>
		<li><a href="{{ url_for('signin') }}">Zaloguj</a></li>
		{% else %}
		<li><a href="{{ url_for('signout') }}">Wyloguj</a></li>
		<li><a href="{{ url_for('profile') }}">Mój profil</a></li>
		{% if session.logged_user == "admin"%}
		<li><a href="{{ url_for('database') }}">Baza danych</a></li>
		{% endif %}
		{% endif %}
	</ul>

</div>

	<script type=text/javascript src="{{ url_for('static', filename='scripts/home.js') }}"></script>
	<div id="over"></div>
	{% block body %}{% endblock %}

</body>

</html>
