{% extends "home.html" %} {% block body %}
<title>foRtReSS - Profile</title>
<div id="page">
	<p>Mój profil</p>
	<div>
		<div id="info">
			{% if error %}<div id="errorbox">{{ error }}</div>{% endif %}
			{% if chinfo %}<div id="posinfobox">{{ chinfo }}</div>{% endif %}
			<form id="profile_info" method="post"
				action="{{ url_for('update') }}">
				<table>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<tr>
						<td class="label">E-mail:</td>
						<td><input name="email" id="email" maxlength="40" type="text" value="{{ info[0]['email'] }}"></td>
					</tr>
				</table>
			</form>
		</div>

		</div>
		<p id="btn-back">
			<input class="submit-btn" type="submit" value="Update Profile"
				form="profile_info">
		</p>
	</div>
	<div>
		<p>Jeśli chcesz zmienić hasło wypełnij pola poniżej</p>
		<div style="height:20px;">{% if cherror %}<p id="cherrorbox">{{ cherror }}</p>{% endif %}
		{% if posinfo %}<p id="infobox">{{ posinfo }}</p>{% endif %}</div>
		<form method="post" action="{{ url_for('changepass') }}">
		<input type="hidden" name=_csrf_token value="{{ csrf_token() }}">
			<p>
				<input name="old_pass" placeholder="Stare hasło"
					type="password">
			</p>
			<p>
				<input class="passinput" name="new_pass" placeholder="Nowe hasło"
					type="password">
			</p>
			<p>
				<input class="passinput" name="re_new_pass"
					placeholder="Ponownie wpisz nowe hasło" type="password">
			</p>
			<p>
				<input type="submit" value="Zmień hasło">
			</p>
		</form>
	</div>
</div>
<script type=text/javascript
	src="{{ url_for('static', filename='scripts/submit.js') }}"></script>
{% endblock %}
