<html>
<head>
<script type=text/javascript
	src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<title>Rejestracja</title>
</head>
<body>
	<p>
		<a href="{{ url_for('home') }}">Strona główna</a>
	</p>
	<div>
		<p>Rejestracja</p>
		{% if error %}<p id="errorbox">{{error}}</p>{% endif %}
		<form action="{{ url_for('signup') }}" method=post>
		<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
			<p>
				<input id="username-fld" maxlength="10" autofocus="autofocus" name="username" placeholder="Login"
					type="text">
			</p>
			<p>
				<input id="email" maxlength="30" placeholder="E-mail" name="email" type="text">
			<p>
			<p>
				<input id="password-fld" maxlength="16" name="password" placeholder="Hasło"
					type="password">
			</p>
			<div id="strengh"></div>
			<p>
				<input id="repassword-fld" maxlength="16" name="repassword"
					placeholder="Wpisz ponownie hasło" type="password">
			</p>
			<p>
				<input id="signup-btn" type="submit" value="Zarejestruj">
			</p>
			<p id="back">
			<a href="{{ url_for('signin') }}">Posiadam już konto - zaloguj mnie</a>
			</p>
		</form>
	</div>
	<script type=text/javascript
		src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
</body>
</html>
