<html>
<head>
<script type=text/javascript
	src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<title>Logowanie</title>
</head>
<body>
	<p>
		<a href="{{ url_for('home') }}">Strona główna</a>
	</p>
	<div id="signinbox">
		<p>Logowanie</p>
		{% if error %}<p id="errorbox">{{error}}</p>{% endif %}
		<form action="{{ url_for('signin') }}" method="post">
			<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
			<p>
				<input id="username-fld" maxlength="10" autofocus="autofocus" name="username" placeholder="Nazwa użytkownika"
					type="text">
			</p>
			<p>
				<input id="password-fld" maxlength="16" name="password" placeholder="Hasło"
					type="password">
			</p>
			<p>
				<a href="{{ url_for('forgot') }}">Zapomniałeś/aś hasła?</a>
			</p>
			<p>
				<input type="submit" value="Zaloguj">
			</p>
			<p>
				<a href="{{ url_for('signup') }}">Nie masz konta? Zarejestruj się</a>
			</p>
		</form>
	</div>
	<script type=text/javascript
		src="{{ url_for('static', filename='scripts/submit.js') }}"></script>
</body>
</html>
