{% extends "home.html" %} {% block body %}
<title>{{ author }}</title>
<link rel=stylesheet type=text/css
	href="{{ url_for('static', filename='styles/view.css') }}">
<div id="page" style="border-color: {{ info[0].color }}">
	<p>Informacje o {{ author }}</p>
<hr>
	<table>
		<tr>
			<td class="info">Email</td>
			<td><input type="text" disabled="disabled" value="{{ info[0].email }}"></td>
		</tr>
	</table>
	<p>Notatki</p>
	{% for fort in forts %}
	<hr>
	<p>{{fort.data}}</p>
	<p style="margin-bottom: 10px;">{{fort.entry}}</p>
	{% endfor %}
</div>
{% endblock %}
